
<br />
<br />
<div length="10">
    <label class="d-inline">User Name:</label>
    <input type="text" id="username" style="height:30px; width:250px;" />
</div>
<br />
<div style="padding-left:85px;">
<input type="button" value="Submit" onclick="AddUser()" class="btn btn-default btn-success" />
<input type="button" value="Cancel" onclick="Cancel()" class="btn btn-default btn-danger" />
</div>
<script src="~/js/GitHubOperation.js"></script>